@model List<CalculatorApp.Models.Calculatemodel>

@{
    ViewData["Title"] = "List Page";
}


<h1>All numbers</h1>

<div ng-app="myapp" ng-controller="CalculatorController">
    <!-- Search field -->
    Search: <input type="text" ng-model="searchQuery" placeholder="Id based Search...">
    
    
   <table class="table table-bordered=1">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Number</th>
            <th>Second Number</th>
            <th>Math Option</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="calculate in filteredCalculations = (calculations | filter:{id:searchQuery})">
            <td><input type="text" ng-model="calculate.id"></td>
            <td><input type="text" ng-model="calculate.num1"></td>
            <td><input type="text" ng-model="calculate.num2"></td>
            <td><input type="text" ng-model="calculate.mathOption"></td>
            <td>
                <button ng-click="updateData(calculate)" class="btn btn-primary">Update</button>
            </td>
            <td>
                <button ng-click="delete(calculate)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="~/js/Getalldatascript.js"></script>

