@model CalculatorApp.Models.Calculatemodel
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<center>
    <div ng-app="myapp" ng-controller="myctrl" class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="num1">First number</label>
                    <input type="number" class="form-control" id="num1" ng-model="num1" placeholder="Enter number">
                </div>
            </div><br />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="num2">Second number</label>
                    <input type="number" class="form-control" id="num2" ng-model="num2" placeholder="Enter number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mathOption">Select operation</label>
                    <select class="form-control" id="mathOption" ng-model="mathOption">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                </div>
            </div>

        </div>

        <button class="btn btn-primary" ng-click="addnumber()">Calculate</button>

        <p>Result: {{result}}</p>
    </div>
</center>

<!-- Include Bootstrap JS (optional, if you need Bootstrap JavaScript functionality) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="~/js/calculatorController.js"></script>